<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travels_app">
        <activity
            android:name=".bookinRdrive"
            android:exported="false" />
        <activity android:name=".RegistrationA" />
        <activity
            android:name=".bookridrive"
            android:exported="false" />
        <activity
            android:name=".bookrdrive"
            android:exported="false" />
        <activity
            android:name=".hotel_cetgory"
            android:exported="false" />
        <activity
            android:name=".forgetpassword"
            android:exported="false" />
        <activity
            android:name=".imagesuplode"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".loginA"
            android:exported="false" />
        <activity
            android:name=".datauplod"
            android:exported="false" />
        <activity
            android:name=".splisscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>